<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!--    <img th:src="@{img4.webp}" alt="">-->
    <link th:src="@{../static/css/login.css}">
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container login-container">
    <div class="row justify-content-center">
        <div class="col-md-6 login-form-1">
            <h3>Login</h3>
            <form id="loginForm" method="post">
                <div class="form-group">
                    <label>
                        <input id="email" type="email" class="form-control" placeholder="Your Email *" name="email" required />
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input id="password" type="password" class="form-control" placeholder="Your Password *" name="password" required />
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
                <div class="text-center">
                    Don't have an account? <a th:href="@{/api/frontend/register}">Sign up</a>
                </div>
            </form>
            <div id="login-message"></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        const backendUrl="http://localhost/api/auth";
        $("#loginForm").on('submit', function(event) {
            event.preventDefault(); // Prevent default form submission

            const email = $('#email').val();
            const password = $('#password').val();

            const loginData = {
                email: email,
                password: password
            };

            $.ajax({
                url: backendUrl+"/login",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(loginData),
                success: function(response) {
                    const message = response.message;
                    const role = response.role;
                    const name = response.name;
                    const userId = response.id;
                    console.log(message);
                    // Store the JWT token and the username in localStorage
                    localStorage.setItem('userName', name);
                    localStorage.setItem('id', userId);
                    localStorage.setItem('role',role);
                    document.cookie = "userId=" + userId + "; path=/";
                    // Redirect based on role
                    if (role === 'ADMIN') {
                        window.location.href = 'homeA';
                    } else if (role === 'SUBSCRIBER') {
                        window.location.href = 'homeS';
                    } else {
                        $('#login-message').text(message);
                    }
                },
                error: function(xhr, status, error) {
                    $('#login-message').text('Login failed. Please try again.');
                }
            });
        });
    });


</script>
</body>
</html>