<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Error</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>

<body>
<div class="container text-center">
    <div>
        <h3 class="text-center">
            Wrong Credentials !
        </h3>
    </div>
    <div>
        <p class="text-center">
            <a th:href="@{/api/frontend/login}">Go back to Login</a>
        </p>
    </div>
</div>
</body>
</html>